{{> head }}
   {{> navbar }}
   
      <div class="row">
          <div class="col-8">

              <h1Capitan America></h1>
              
              <p>Duis tempor amet sunt in fugiat cupidatat dolor excepteur do.</p>
          </div>

          <div class="col-4">
              <img src="assets/img/genesis.jpg" class="img-thumbnail">
          </div>
      </div>


      <div></div>

{{> footer }}